<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ #{copyright}#
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.system.mapper.CodeValueMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.system.dto.CodeValue" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="CODE_VALUE_ID" property="codeValueId" jdbcType="DECIMAL"/>
        <result column="CODE_ID" property="codeId" jdbcType="DECIMAL"/>
        <result column="VALUE" property="value" jdbcType="VARCHAR"/>
        <result column="MEANING" property="meaning" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        CODE_VALUE_ID,CODE_ID, VALUE, MEANING, DESCRIPTION,
        OBJECT_VERSION_NUMBER, REQUEST_ID,
        PROGRAM_ID,
        CREATION_DATE,
        CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN,
        ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4,
        ATTRIBUTE5, ATTRIBUTE6,
        ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9,
        ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12,
        ATTRIBUTE13,
        ATTRIBUTE14,
        ATTRIBUTE15
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="com.hand.hap.system.dto.CodeValue">
        select
        <include refid="Base_Column_List"/>
        from SYS_CODE_VALUE_B
        where CODE_VALUE_ID = #{codeValueId,jdbcType=DECIMAL}
    </select>
    <select id="selectCodeValues" resultMap="BaseResultMap"
            parameterType="com.hand.hap.system.dto.CodeValue">

        SELECT scb.code_value_id,scb.code_id ,scb.value ,COALESCE(sct.meaning, scb.meaning) meaning ,sct.description
        ,scb.OBJECT_VERSION_NUMBER, scb.REQUEST_ID, scb.PROGRAM_ID,
        scb.CREATION_DATE, scb.CREATED_BY, scb.LAST_UPDATED_BY,
        scb.LAST_UPDATE_DATE, scb.LAST_UPDATE_LOGIN, scb.ATTRIBUTE_CATEGORY,
        scb.ATTRIBUTE1, scb.ATTRIBUTE2, scb.ATTRIBUTE3, scb.ATTRIBUTE4,
        scb.ATTRIBUTE5, scb.ATTRIBUTE6, scb.ATTRIBUTE7, scb.ATTRIBUTE8,
        scb.ATTRIBUTE9, scb.ATTRIBUTE10, scb.ATTRIBUTE11, scb.ATTRIBUTE12,
        scb.ATTRIBUTE13, scb.ATTRIBUTE14, scb.ATTRIBUTE15
        FROM sys_code_value_b scb
        LEFT OUTER JOIN sys_code_value_tl sct
        ON (scb.code_value_id = sct.code_value_id
        AND sct.lang =#{request.locale,jdbcType=VARCHAR})
        <where>
            <if test="codeValueId != null">
                scb.code_value_id = #{codeValueId,jdbcType=DECIMAL}
            </if>
            <if test="codeId != null">
                scb.code_id = #{codeId,jdbcType=DECIMAL}
            </if>
            <if test="value != null">
                AND scb.value = #{value,jdbcType=VARCHAR}
            </if>
            <if test="meaning != null">
                AND scb.meaning = #{meaning,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    
    
    
    <select id="selectCodeValuesByCodeName" resultMap="BaseResultMap" parameterType="string">
        SELECT scvb.code_id, scvb.value, sct.meaning
          FROM sys_code_value_b scvb
          LEFT OUTER JOIN sys_code_value_tl sct
            ON (scvb.code_value_id = sct.code_value_id AND sct.lang = #{request.locale,jdbcType=VARCHAR})
         INNER JOIN sys_code_b scb
            ON (scb.code_id = scvb.code_id)
         WHERE scb.code = #{codeName}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.hand.hap.system.dto.CodeValue">
        delete from
        SYS_CODE_VALUE_B
        where CODE_VALUE_ID = #{codeValueId,jdbcType=DECIMAL}
        
    </delete>

    <delete id="deleteByCodeValueId" parameterType="com.hand.hap.system.dto.CodeValue">
        delete from
        SYS_CODE_VALUE_B
        where CODE_VALUE_ID = #{codeValueId,jdbcType=DECIMAL}
    </delete>

    <delete id="deleteByCodeId" parameterType="com.hand.hap.system.dto.CodeValue">
        delete from
        SYS_CODE_VALUE_B
        where CODE_ID = #{codeId,jdbcType=DECIMAL}
    </delete>
    <delete id="deleteTlByCodeId" parameterType="com.hand.hap.system.dto.CodeValue">
        delete from
        SYS_CODE_VALUE_TL
        where CODE_VALUE_ID in (
                  select code_value_id
                  from sys_code_value_b cvb
                  where cvb.code_id = #{codeId,jdbcType=DECIMAL})
    </delete>
    <insert id="insert" parameterType="com.hand.hap.system.dto.CodeValue" useGeneratedKeys="false"
            keyProperty="codeValueId">
        <selectKey resultType="long" keyProperty="codeValueId" order="BEFORE">
            select sys_code_value_b_s.nextVal as codeValueId from dual
        </selectKey>
        insert into SYS_CODE_VALUE_B
        (CODE_VALUE_ID,CODE_ID, VALUE, MEANING,
        DESCRIPTION, 
        REQUEST_ID,
        PROGRAM_ID, CREATION_DATE, CREATED_BY,
        LAST_UPDATED_BY,
        LAST_UPDATE_DATE, LAST_UPDATE_LOGIN,
        ATTRIBUTE_CATEGORY, ATTRIBUTE1,
        ATTRIBUTE2,
        ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5,
        ATTRIBUTE6, ATTRIBUTE7,
        ATTRIBUTE8,
        ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11,
        ATTRIBUTE12,
        ATTRIBUTE13, ATTRIBUTE14,
        ATTRIBUTE15)
        values
        (#{codeValueId,jdbcType=DECIMAL},#{codeId,jdbcType=DECIMAL}, #{value,jdbcType=VARCHAR},
        #{meaning,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR},
        #{requestId,jdbcType=DECIMAL},
        #{programId,jdbcType=DECIMAL},
        current_timestamp,
        #{createdBy,jdbcType=DECIMAL},
        #{lastUpdatedBy,jdbcType=DECIMAL},
        current_timestamp,
        #{lastUpdateLogin,jdbcType=DECIMAL},
        #{attributeCategory,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR},
        #{attribute2,jdbcType=VARCHAR},
        #{attribute3,jdbcType=VARCHAR},
        #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR},
        #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR},
        #{attribute8,jdbcType=VARCHAR},
        #{attribute9,jdbcType=VARCHAR},
        #{attribute10,jdbcType=VARCHAR}, #{attribute11,jdbcType=VARCHAR},
        #{attribute12,jdbcType=VARCHAR}, #{attribute13,jdbcType=VARCHAR},
        #{attribute14,jdbcType=VARCHAR},
        #{attribute15,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.hand.hap.system.dto.CodeValue">
        update
        SYS_CODE_VALUE_B
        set
        value = #{value,jdbcType=VARCHAR},
        MEANING = #{meaning,jdbcType=VARCHAR},
        DESCRIPTION = #{description,jdbcType=VARCHAR},
        OBJECT_VERSION_NUMBER =OBJECT_VERSION_NUMBER+1,
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
        LAST_UPDATED_BY =
        #{lastUpdatedBy,jdbcType=DECIMAL},
        LAST_UPDATE_DATE =
        current_timestamp,
        LAST_UPDATE_LOGIN =
        #{lastUpdateLogin,jdbcType=DECIMAL},
        ATTRIBUTE_CATEGORY =
        #{attributeCategory,jdbcType=VARCHAR},
        ATTRIBUTE1 =
        #{attribute1,jdbcType=VARCHAR},
        ATTRIBUTE2 =
        #{attribute2,jdbcType=VARCHAR},
        ATTRIBUTE3 =
        #{attribute3,jdbcType=VARCHAR},
        ATTRIBUTE4 =
        #{attribute4,jdbcType=VARCHAR},
        ATTRIBUTE5 =
        #{attribute5,jdbcType=VARCHAR},
        ATTRIBUTE6 =
        #{attribute6,jdbcType=VARCHAR},
        ATTRIBUTE7 =
        #{attribute7,jdbcType=VARCHAR},
        ATTRIBUTE8 =
        #{attribute8,jdbcType=VARCHAR},
        ATTRIBUTE9 =
        #{attribute9,jdbcType=VARCHAR},
        ATTRIBUTE10 =
        #{attribute10,jdbcType=VARCHAR},
        ATTRIBUTE11 =
        #{attribute11,jdbcType=VARCHAR},
        ATTRIBUTE12 =
        #{attribute12,jdbcType=VARCHAR},
        ATTRIBUTE13 =
        #{attribute13,jdbcType=VARCHAR},
        ATTRIBUTE14 =
        #{attribute14,jdbcType=VARCHAR},
        ATTRIBUTE15 =
        #{attribute15,jdbcType=VARCHAR}
        where CODE_value_ID =
        #{codeValueId,jdbcType=DECIMAL}
        
    </update>
    <!-- Mclin添加， 查询消息模版编码LOV -->
    <select id="queryMsgTemCodeLov" resultMap="BaseResultMap">
    select scvb.value, coalesce(scvt.meaning, scvb.meaning) meaning
      from sys_code_b scb, sys_code_value_b scvb
      left outer join sys_code_value_tl scvt
        ON (scvb.code_value_id = scvt.code_value_id AND scvt.lang = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})
     <where>
     	scb.code = 'SYS.MES_TEM_TYPE'
        and scb.code_id = scvb.code_id
        <if	test="value != null">
        	and 
        	(
        		lower(scvb.value) like concat('%', concat(#{value, jdbcType=VARCHAR}, '%'))
        		or
        		upper(scvb.value) like concat('%', concat(#{value, jdbcType=VARCHAR}, '%'))
        	)
        </if>
        <if	test="meaning != null">
        	and 
        	(
        		scvt.meaning like concat('%', concat(#{meaning, jdbcType=VARCHAR}, '%'))
        		or
        		scvb.meaning like concat('%', concat(#{meaning, jdbcType=VARCHAR}, '%'))
        	)
        </if>
     </where> 
    </select>
    
    <!-- Mclin添加， 查询邮箱帐号编码LOV -->
    <select id="queryEmlAccountCodeLov" resultMap="BaseResultMap">
    select scvb.value, coalesce(scvt.meaning, scvb.meaning) meaning
      from sys_code_b scb, sys_code_value_b scvb
      left outer join sys_code_value_tl scvt
        ON (scvb.code_value_id = scvt.code_value_id AND scvt.lang = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String})
     <where>
     	scb.code = 'SYS.EMAIL_ACCOUNT_CODE'
        and scb.code_id = scvb.code_id
        <if	test="value != null">
        	and 
        	(
        		lower(scvb.value) like concat('%', concat(#{value, jdbcType=VARCHAR}, '%'))
        		or
        		upper(scvb.value) like concat('%', concat(#{value, jdbcType=VARCHAR}, '%'))
        	)
        </if>
        <if	test="meaning != null">
        	and 
        	(
        		scvt.meaning like concat('%', concat(#{meaning, jdbcType=VARCHAR}, '%'))
        		or
        		scvb.meaning like concat('%', concat(#{meaning, jdbcType=VARCHAR}, '%'))
        	)
        </if>
     </where> 
    </select>
</mapper>