<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.system.mapper.SysPreferencesMapper" >
  <resultMap id="BaseResultMap" type="com.hand.hap.system.dto.SysPreferences" >
    <id column="PREFERENCES_ID" property="preferencesId" jdbcType="DECIMAL" />
    <result column="PREFERENCES" property="preferences" jdbcType="VARCHAR" />
    <result column="PREFERENCES_LEVEL" property="preferencesLevel" jdbcType="DECIMAL" />
    <result column="PREFERENCES_VALUE" property="preferencesValue" jdbcType="VARCHAR" />
    <result column="ACCOUNT_ID" property="userId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    PREFERENCES_ID, PREFERENCES, PREFERENCES_LEVEL, PREFERENCES_VALUE, ACCOUNT_ID, OBJECT_VERSION_NUMBER, 
    REQUEST_ID, PROGRAM_ID, CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, 
    LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, 
    ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, 
    ATTRIBUTE12, ATTRIBUTE13, ATTRIBUTE14, ATTRIBUTE15
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_PREFERENCES
    where PREFERENCES_ID = #{preferencesId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_PREFERENCES
    where PREFERENCES_ID = #{preferencesId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.hand.hap.system.dto.SysPreferences" >
      <selectKey resultType="java.lang.Long" keyProperty="preferencesId" order="BEFORE" >
      select SYS_PREFERENCES_S.nextval from dual
    </selectKey>
    insert into SYS_PREFERENCES (PREFERENCES_ID, PREFERENCES, PREFERENCES_LEVEL, 
      PREFERENCES_VALUE, ACCOUNT_ID, OBJECT_VERSION_NUMBER, 
      REQUEST_ID, PROGRAM_ID, CREATION_DATE, 
      CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, 
      LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY, ATTRIBUTE1, 
      ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, 
      ATTRIBUTE5, ATTRIBUTE6, ATTRIBUTE7, 
      ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, 
      ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13, 
      ATTRIBUTE14, ATTRIBUTE15)
    values (#{preferencesId,jdbcType=DECIMAL}, #{preferences,jdbcType=VARCHAR}, #{preferencesLevel,jdbcType=DECIMAL}, 
      #{preferencesValue,jdbcType=VARCHAR}, #{userId,jdbcType=DECIMAL}, 1,
      #{requestId,jdbcType=DECIMAL}, #{programId,jdbcType=DECIMAL}, CURRENT_TIMESTAMP, 
      #{createdBy,jdbcType=DECIMAL}, #{lastUpdatedBy,jdbcType=DECIMAL}, CURRENT_TIMESTAMP, 
      #{lastUpdateLogin,jdbcType=DECIMAL}, #{attributeCategory,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, 
      #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, 
      #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR}, #{attribute7,jdbcType=VARCHAR}, 
      #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR}, #{attribute10,jdbcType=VARCHAR}, 
      #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR}, #{attribute13,jdbcType=VARCHAR}, 
      #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hand.hap.system.dto.SysPreferences" >
    insert into SYS_PREFERENCES
    <selectKey resultType="java.lang.Long" keyProperty="preferencesId" order="BEFORE" >
      select SYS_PREFERENCES_S.nextval from dual
    </selectKey>
    <trim prefix="(" suffix=")" suffixOverrides="," >
        PREFERENCES_ID,
      <if test="preferences != null" >
        PREFERENCES,
      </if>
      <if test="preferencesLevel != null" >
        PREFERENCES_LEVEL,
      </if>
      <if test="preferencesValue != null" >
        PREFERENCES_VALUE,
      </if>
      <if test="userId != null" >
        ACCOUNT_ID,
      </if>
        OBJECT_VERSION_NUMBER,
      <if test="requestId != null" >
        REQUEST_ID,
      </if>
      <if test="programId != null" >
        PROGRAM_ID,
      </if>
        CREATION_DATE,
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY,
      </if>
        LAST_UPDATE_DATE,
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN,
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY,
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5,
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6,
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7,
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8,
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9,
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10,
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11,
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12,
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13,
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14,
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{preferencesId,jdbcType=DECIMAL},
      <if test="preferences != null" >
        #{preferences,jdbcType=VARCHAR},
      </if>
      <if test="preferencesLevel != null" >
        #{preferencesLevel,jdbcType=DECIMAL},
      </if>
      <if test="preferencesValue != null" >
        #{preferencesValue,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      1,
      <if test="requestId != null" >
        #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        #{programId,jdbcType=DECIMAL},
      </if>
        CURRENT_TIMESTAMP,
      <if test="createdBy != null" >
        #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        CURRENT_TIMESTAMP,
      <if test="lastUpdateLogin != null" >
        #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        #{attribute15,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hand.hap.system.dto.SysPreferences" >
    update SYS_PREFERENCES
    <set >
      <if test="preferences != null" >
        PREFERENCES = #{preferences,jdbcType=VARCHAR},
      </if>
      <if test="preferencesLevel != null" >
        PREFERENCES_LEVEL = #{preferencesLevel,jdbcType=DECIMAL},
      </if>
      <if test="preferencesValue != null" >
        PREFERENCES_VALUE = #{preferencesValue,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        ACCOUNT_ID = #{userId,jdbcType=DECIMAL},
      </if>
      OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      <if test="requestId != null" >
        REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      </if>
      <if test="programId != null" >
        PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      </if>
        CREATION_DATE = CURRENT_TIMESTAMP,
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdatedBy != null" >
        LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      </if>
        LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      <if test="lastUpdateLogin != null" >
        LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      </if>
      <if test="attributeCategory != null" >
        ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null" >
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null" >
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
      <if test="attribute6 != null" >
        ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      </if>
      <if test="attribute7 != null" >
        ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      </if>
      <if test="attribute8 != null" >
        ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      </if>
      <if test="attribute9 != null" >
        ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      </if>
      <if test="attribute10 != null" >
        ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      </if>
      <if test="attribute11 != null" >
        ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      </if>
      <if test="attribute12 != null" >
        ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      </if>
      <if test="attribute13 != null" >
        ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      </if>
      <if test="attribute14 != null" >
        ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      </if>
      <if test="attribute15 != null" >
        ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR},
      </if>
    </set>
    where PREFERENCES_ID = #{preferencesId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hand.hap.system.dto.SysPreferences" >
    update SYS_PREFERENCES
    set PREFERENCES = #{preferences,jdbcType=VARCHAR},
      PREFERENCES_LEVEL = #{preferencesLevel,jdbcType=DECIMAL},
      PREFERENCES_VALUE = #{preferencesValue,jdbcType=VARCHAR},
      ACCOUNT_ID = #{userId,jdbcType=DECIMAL},
      OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      REQUEST_ID = #{requestId,jdbcType=DECIMAL},
      PROGRAM_ID = #{programId,jdbcType=DECIMAL},
      CREATION_DATE = CURRENT_TIMESTAMP,
      CREATED_BY = #{createdBy,jdbcType=DECIMAL},
      LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=DECIMAL},
      LAST_UPDATE_DATE = CURRENT_TIMESTAMP,
      LAST_UPDATE_LOGIN = #{lastUpdateLogin,jdbcType=DECIMAL},
      ATTRIBUTE_CATEGORY = #{attributeCategory,jdbcType=VARCHAR},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      ATTRIBUTE6 = #{attribute6,jdbcType=VARCHAR},
      ATTRIBUTE7 = #{attribute7,jdbcType=VARCHAR},
      ATTRIBUTE8 = #{attribute8,jdbcType=VARCHAR},
      ATTRIBUTE9 = #{attribute9,jdbcType=VARCHAR},
      ATTRIBUTE10 = #{attribute10,jdbcType=VARCHAR},
      ATTRIBUTE11 = #{attribute11,jdbcType=VARCHAR},
      ATTRIBUTE12 = #{attribute12,jdbcType=VARCHAR},
      ATTRIBUTE13 = #{attribute13,jdbcType=VARCHAR},
      ATTRIBUTE14 = #{attribute14,jdbcType=VARCHAR},
      ATTRIBUTE15 = #{attribute15,jdbcType=VARCHAR}
    where PREFERENCES_ID = #{preferencesId,jdbcType=DECIMAL}
  </update>
  <select id="selectPreferences" parameterType="com.hand.hap.system.dto.SysPreferences" resultMap="BaseResultMap">
  select 
  <include refid="Base_Column_List" />
  from SYS_PREFERENCES
  <where>
    PREFERENCES_LEVEL= #{preferencesLevel,jdbcType=DECIMAL}
    <if test="userId != null">
    AND ACCOUNT_ID = #{userId,jdbcType=DECIMAL}
    </if>
    </where>
  </select>
  
  <select id="selectPreferLine" parameterType="com.hand.hap.system.dto.SysPreferences" resultMap="BaseResultMap">
  select 
  <include refid="Base_Column_List" />
  from SYS_PREFERENCES
  <where>
  PREFERENCES_LEVEL= #{preferencesLevel,jdbcType=DECIMAL}
  AND PREFERENCES=#{preferences,jdbcType=VARCHAR}
  <if test="userId != null">
  AND ACCOUNT_ID = #{userId,jdbcType=DECIMAL}
  </if>    
  </where>
	
  </select>
  
  <update id="updatePreferLine" parameterType="com.hand.hap.system.dto.SysPreferences" >
    update SYS_PREFERENCES
    set 
      PREFERENCES_VALUE = #{preferencesValue,jdbcType=VARCHAR},
      OBJECT_VERSION_NUMBER = OBJECT_VERSION_NUMBER + 1,
      LAST_UPDATE_DATE = CURRENT_TIMESTAMP
      <where>
        PREFERENCES = #{preferences,jdbcType=VARCHAR}
        AND PREFERENCES_LEVEL = #{preferencesLevel,jdbcType=DECIMAL}
        <if test="userId != null">
        AND ACCOUNT_ID = #{userId,jdbcType=DECIMAL}
        </if>
      </where>

  </update>
  
  
</mapper>