<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ #{copyright}#
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.orders.mapper.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.orders.dto.Company">
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="COMPANY_NUMBER" property="companyNumber" jdbcType="VARCHAR"/>
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List" >
        COMPANY_ID, COMPANY_NUMBER, COMPANY_NAME
    </sql>
    <select id="selectByCompany" parameterType="com.hand.hap.orders.dto.Company" resultMap="BaseResultMap">
        SELECT  COMPANY_ID, COMPANY_NUMBER, COMPANY_NAME
        from hap_org_companys
        <where>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=DECIMAL}
            </if>
            <if test="companyNumber != null">
                AND UPPER(COMPANY_NUMBER) like UPPER('%${companyNumber}%')
            </if>
            <if test="companyName != null">
                AND UPPER(COMPANY_NAME) like UPPER('%${companyName}%')
            </if>
        </where>
    </select>
</mapper>