<#-- 
 * description: 用户分配角色界面
 * version: 1.0 
 * author:xiawang.liu
 * #{copyright}#
 * 
-->

<#include "../include/head.html">

<body>
<div id="user_role_grid" style="margin: 5px;"></div>

<script type="text/javascript">

    /* 设定该页面为dialog */
    var dialog = frameElement.dialog;

    /* user_role_grid对象 */
    var user_role_grid = null;

    /* 数据库查询出所有角色显示的grid */
    user_role_grid = window['user_role_grid'] = $("#user_role_grid").ligerGrid({
        columns : [
            {
                display: '<@spring.message "role.rolecode"/>',
                name   : "roleCode",
                align  : 'left',
                width  : 100
            },
            {
                display: '<@spring.message "role.rolename"/>',
                name   : "roleName",
                align  : 'left',
                width  : 120
            },
            {
                display: '<@spring.message "role.roledescription"/>',
                name   : "roleDescription",
                align  : 'left',
                width  : 200
            }
        ],
        checkbox: true,
        url     : '${base.contextPath}/sys/userrole/queryUserRoles?userId=' + ${RequestParameters.userId},
        toolbar : {
            items: [
                {
                    text : '<@spring.message "hap.new"/>',
                    click: function () {
                        var manager = $("#user_role_grid").ligerGetGridManager();
                        $.ligerDialog.open({
                            url     : 'sys_user_chooserole.html?userId=' + ${RequestParameters.userId},
                            height  : 500,
                            width   : 700,
                            buttons : [
                                {
                                    cls    : 'l-dialog-btn-highlight',
                                    text   : '<@spring.message "hap.ok"/>',
                                    onclick: function (item, dialog) {
                                        var data = dialog.frame.$.ligerui.get("userchooserole_grid").getSelectedRows();
                                        for (var i = 0; i < data.length; i++) {
                                            manager.addRow({
                                                roleId  : data[i].roleId,
                                                roleCode: data[i].roleCode,
                                                roleName: data[i].roleName,
                                                roleDesc: data[i].roleDesc
                                            });
                                        }
                                        dialog.close();
                                    }
                                },
                                {
                                    text   : '<@spring.message "hap.cancel"/>',
                                    onclick: function (item, dialog) {
                                        dialog.close();
                                    }
                                }
                            ],
                            isResize: true
                        });
                    },
                    icon : 'add'
                },
                {
                    line: true
                },
                {
                    text : '<@spring.message "hap.delete"/>',
                    click: function () {
                        user_role_grid.deleteSelectedRow();
                    },
                    icon : 'delete'
                },
                {
                    line: true
                },
                {
                    text : '<@spring.message "hap.save"/>',
                    click: function () {
                        save_click();
                    },
                    icon : 'save'
                }
            ]
        },
        height  : '96%'
    });

    /* 点击grid保存按钮，保存已勾选的数据到数据库 */
    function save_click() {
        var data = user_role_grid.getChanges();
        var requestData = [];
        if (data.length == 0) {
        } else {
            for (var i = 0; i < data.length; i++) {
                requestData.push({
                    roleId  : data[i].roleId,
                    userId  : ${RequestParameters.userId},
                    __status: data[i].__status
                });
            }
        }
        $.ajax({
            type       : 'POST',
            url        : "${base.contextPath}/sys/userrole/submit",
            data       : JSON2.stringify(requestData),
            contentType: "application/json; charset=utf-8",
            success    : function (json) {
                if (json.success) {
                    Hap.showAutoCloseMessage(function () {
                        if (frameElement && frameElement.dialog) {
                            frameElement.dialog.close();
                        }
                    });
                }
            }
        });
    }
</script>
</body>
</html>