<#-- 
 * description: 用户更新密码界面
 * version: 1.0 
 * author:qi.zhao 
 * Copyright LKK Health Products Group Limited. 
 * 
-->
<#include "../../include/head.html">

<script type="text/javascript">
$(function() {
	jQuery.validator.addMethod("isPassword", function(value, element) {
		var tel = /^(?![^a-zA-Z]+$)(?!\D+$)[a-zA-Z0-9._`~!@#$%^&*()+-={}:;<>?,\\\"\'\[\]]{8,}$/;
		return this.optional(element) || (tel.test(value));
	}, '<@spring.message"msg.error.user.password_format_error"/>');


	jQuery.validator.addMethod("pwdEquals", function(value, element) {
		var newPwd = $.ligerui.get('newPwd').getValue();
		var newPwdAgain = $.ligerui.get('newPwdAgain').getValue();
		if (newPwdAgain != newPwd) {
			return false;
		}
		return true;
	}, '<@spring.message"msg.error.user.two_password_not_match"/>');

	myForm = window['myForm'] = $("#myForm").ligerForm({
		fields: [{
			name: 'oldPwd',
			type: 'password',
			label: '<@spring.message"user.current_password"/>',
			validate: {
				required: true
			}
		}, {
			name: 'newPwd',
			id : 'newPwd',
			type: 'password',
			label: '<@spring.message"user.new_password"/>',
			validate: {
				required: true,
				minlength: 8,
				isPassword: true
			}
		}, {
			name: 'newPwdAgain',
			id : 'newPwdAgain',
			type: 'password',
			label: '<@spring.message"user.again_new_password"/>',
			validate: {
				required: true,
				minlength: 8,
				isPassword: true,
				pwdEquals: true
			}
		}],
		buttons: [{
			text: '<@spring.message "hap.submit"/>',
			disabled: false,
			width: 60,
			click: f_click
		}]
	});
});

function f_click() {
	if (myForm.valid()) {
		$.ajax({
			type: 'POST',
			url: "${base.contextPath}/sys/um/updatePassword",
			data: myForm.getData(),
			success: function(data) {
				if (data.success) {
					top.location= "${base.contextPath}/sys/um/sys_login_success.html";
				}
			}
		});
	}
}
</script>
</head>

<body class="padding: 10px;">
	<form id="myForm" autocomplete="off"></form>
</body>

</html>