<#-- 
 * description: 管理员充值用户密码
 * version: 1.0 
 * author: jessen
 *
-->
<#include "../../include/head.html">

<body class="padding: 10px;">
<form id="myForm" autocomplete="off"></form>

<script type="text/javascript">

    $(function () {
        jQuery.validator.addMethod("pwdEquals", function (value, element) {
            var password = $.ligerui.get('password').getValue();
            var password2 = $.ligerui.get('password2').getValue();
            if (password2 != password) {
                return false;
            }
            return true;
        }, '<@spring.message "error.user.two_password_not_match"/>');

        myForm = window['myForm'] = $("#myForm").ligerForm({
            fields: [
                {name: 'userId', type: 'hidden'},
                {
                    name    : 'password',
                    id      : 'password',
                    type    : 'password',
                    label   : '<@spring.message"user.new_password"/>',
                    validate: {
                        required  : true
                    }
                }, {
                    name    : 'password2',
                    id      : 'password2',
                    type    : 'password',
                    label   : '<@spring.message"user.again_new_password"/>',
                    validate: {
                        required  : true,
                        pwdEquals : true
                    }
                }]
        });
        myForm.setData({userId: '${RequestParameters.userId}'});
    });

    Hap.addFormButtons({
                text   : '<@spring.message "hap.save"/>',
                onclick: function () {
                    if (myForm.valid()) {
                        $.ajax({
                            type   : 'POST',
                            url    : "${base.contextPath}/sys/um/resetPasswordAdmin",
                            data   : myForm.getData(),
                            success: function (data) {
                                Hap.showAutoCloseMessage(function () {
                                    if (frameElement && frameElement.dialog) {
                                        frameElement.dialog.close()
                                    }
                                });
                            }
                        });
                    }else{
	                    Hap.showInvalid(myForm);
                    }
                }
            }
    );


</script>


</body>

</html>